<div class="ion-padding">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element">{{ element?.nombre }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element">{{ element?.apellido }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element">{{ element?.edad }}</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <ion-button color="success" [routerLink]="['/folder/Actualizar/', element.id]"  routerLinkActive="router-link-active" >Actualizar</ion-button>
        <ion-button color="danger" (click)="delete(element.id)">Eliminar</ion-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


